In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as pl
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
pip install sklearn

Collecting sklearn
Collecting scikit-learn (from sklearn)
  Downloading https://files.pythonhosted.org/packages/a4/8f/473b2929d63b3e1eafc83e27300091c7822fb5939f259b3ad6a042297290/scikit_learn-0.23.2-cp38-cp38-macosx_10_9_x86_64.whl (7.2MB)
     |████████████████████████████████| 7.2MB 675kB/s eta 0:00:01
Collecting joblib>=0.11 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/fc/c9/f58220ac44a1592f79a343caba12f6837f9e0c04c196176a3d66338e1ea8/joblib-0.17.0-py3-none-any.whl (301kB)
     |████████████████████████████████| 307kB 816kB/s eta 0:00:01
Requirement already satisfied: scipy>=0.19.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.18.1)
Collecting threadpoolctl>=2.0.0 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Installing collected packages: joblib, threadpoolctl, scikit-learn, sklearn
Successfully installed joblib-0.17.0 scikit-learn-0.23.2 sklearn-0.0 threadpoolctl-2.1.0
WARNING: You are using pip version 19.2.3, however version 20.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
data = pd.read_csv('/Users/sujaikarunakaran/Downloads/insurance.csv')

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
import pickle
from sklearn import preprocessing

In [5]:
le = preprocessing.LabelEncoder()

In [6]:
le.fit(data["sex"])

LabelEncoder()

In [7]:
list(le.classes_)

['female', 'male']

In [49]:
le.transform(['northeast', 'northwest', 'southeast', 'southwest'])

array([0, 1, 2, 3])

In [8]:
data["Sex"] = le.transform(data["sex"])

In [9]:
le.fit(data["smoker"])

LabelEncoder()

In [10]:
data["Smoker"] = le.transform(data["smoker"])

In [11]:
le.fit(data["region"])

LabelEncoder()

In [12]:
data["Region"] = le.transform(data["region"])

In [13]:
df_main = data

In [14]:
#drop_list = ("sex", "smoker", "region")
df_main.drop("region", inplace=True, axis=1)

In [15]:
df_main.drop("smoker", inplace=True, axis=1)

In [16]:
df_main.drop("sex", inplace=True, axis=1)

In [30]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
bmi         1338 non-null float64
children    1338 non-null int64
charges     1338 non-null float64
Sex         1338 non-null int64
Smoker      1338 non-null int64
Region      1338 non-null int64
dtypes: float64(2), int64(5)
memory usage: 73.2 KB

In [18]:
import statsmodels.api as sm

In [19]:
y = df_main["charges"]
x = df_main[["age", "bmi", "children", "Sex", "Smoker", "Region"]]

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [31]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 1163 to 684
Data columns (total 6 columns):
age         936 non-null int64
bmi         936 non-null float64
children    936 non-null int64
Sex         936 non-null int64
Smoker      936 non-null int64
Region      936 non-null int64
dtypes: float64(1), int64(5)
memory usage: 51.2 KB

In [21]:
from sklearn import linear_model
linreg = linear_model.LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
predictions = linreg.predict(X_test)

In [23]:
linreg.score(X_train,y_train)

0.7306840408360218

In [24]:
linreg.score(X_test,y_test)

0.7911113876316933

In [25]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [26]:
sqrt(mean_squared_error(predictions, y_test))

5771.599022962352

In [32]:
mean_squared_error(predictions, y_test, squared=True)

33311355.281859964

In [ ]:
import pickle

In [27]:
with open('trained_model.pkl', 'wb') as f:
    pickle.dump(linreg, f)

In [28]:
with open('trained_model.pkl', 'rb') as f:
    clf_loaded = pickle.load(f)

In [29]:
model = pickle.load(open('trained_model.pkl','rb'))
print(model.predict([[55, 18, 0, 1, 1, 1]]))

[31281.02064605]